

h1
{
  font-family: 'Poppins';
  font-size:30px;
  color:#ffffff;
  text-align:center;
  
}

.secCareer{
  margin-left :200px;
}
.careerOne h1
{
  font-size: 30px;
  text-shadow: 1px 1px 2px #000000;
  
}
.careerOne
{ 
  margin-top:20px;
  padding-top:50px;
  background:#222121;
  justify-content:center;
  align-items:center;
  padding-bottom:50px;
  padding-top:150px;
 

}
#description{
  display:flex;
 
    text-align: left ;
    text-shadow: 2px 2px 4px 2px black;
    margin:5px;
    padding:15px;
    font-family: "Roboto";
    font-size: 25px;

}
.careerTwo
{ font-size:25px;
  margin-left:100px;
  background:#777575;
  padding-bottom:10px;

}
.aboutMe
{
  background:rgb(116, 12, 84);
  padding-bottom:10px;
  
}

#myPhotoDiv
{
  display:flex;
 
  align-items: flex-start;
  justify-content:flex-start;
  background:rgb(245, 118, 207);
  box-shadow: 2px 4px 9px 1px black;
  
}
.mySkills
{
  background:rgb(55, 2, 39);
  margin:10px auto;
  padding-bottom:30px;
  h2{
    font-family: "Poppins";
  }
  .mySkills p{
    font-family: Roboto;
    text-align: center;
  }
}

.descriptionAboutMe 
{
    background:rgb(209, 72, 168);
    padding:20px;
    margin:50px;
    box-shadow: 20px 5px 4px black;
 
 
}
.descriptionAboutMe p
{
  font-size:20px;
  text-shadow: 1px 1px #000000;
  justify-content: center;
  font-family: "Poppins";
  align-items: center;
  text-align: center;

 
 
}
.titles
{
 
   padding:10px;
   margin:10px 10px 0px 0px;
   margin-top: 50px;
   text-shadow: 1px 1px #000000;
   font-family: "Roboto";
   align-items: center;
   justify-content:center;
   
   font-size: 20px;

}

.myProjects p
{
  font-family:'Poppins';
  margin:10px;
 
}

.datasheet
{
  padding:10px;
   margin:5px;
   text-shadow: 1px 1px #000000;
   font-family: "Roboto";
   align-items: center;
   font-size: 30px;
  text-align: center;

   
}

.lineTitle {
  content: "";
  background-color: rgb(199, 6, 151);
  
  width:100%;
  
  float:left;
  
  box-shadow: 3px 5px 6px black;
  border-style: groove;
  border-color: rgb(165, 6, 125);
}
.listOfBadges
{
   display:flex;
   align-items: center;
   justify-content:center;
}
.badges
{

  
  display:block;
 
}

@media(max-width: 600px)
{
  .descriptionAboutMe 
{
   display:flex;
   justify-content: center;
   align-items: center;
 
}


#description{
  display:flex;
    justify-content:center;
    align-items: center;
    text-align: center ;
    font-size:16px;

}

.descriptionAboutMe img
{
   display:flex;
   justify-content: center;
   align-items: center;
   width:200px;
   margin:10px auto;
 
}

#myPhoto img
{
  display:flex;
  box-shadow: 3px 5px 6px 6 black;
  align-items: center;
  justify-content:center;
  
  width:50px;

  
}
#myPhotoDiv
{
  display:block;
 
  align-items: center;
  justify-content:center;
  background:rgb(245, 118, 207);
  box-shadow: 2px 4px 9px 1px black;


  
}

}
@media (max-width: 800px)
{
  .descriptionAboutMe img
{
   display:flex;
   justify-content: center;
   align-items: center;
   width:200px;
   margin:10px auto;
 
}


#description{
  display:flex;
    justify-content:center;
    align-items: center;
    text-align: center ;
    font-size:16px;

}

#myPhoto img
{
  display:flex;
  box-shadow: 3px 5px 6px 6 black;
  align-items: center;
  justify-content:center;

  width:50px;

  
}
#myPhotoDiv
{
  display:block;
  margin: 10px auto;
  align-items: center;
  justify-content:center;
  background:rgb(245, 118, 207);
  box-shadow: 2px 4px 9px 1px black;


  
}
  .badgeUnity {
    display:flex;
 
  align-items: center;
  justify-content:center;
  }
.badgesLibraries
{
  display:flex;
 
  align-items: center;
  justify-content:center;
}
#badges
{
  display:flexbox;
  
  align-items: center;
  justify-content:center;
 
  margin:5px;
  
}
#unityBadge
{
  display:flex;
 
  align-items: center;
  justify-content:center;
 
 
  
  
}
.unityBadge
{
  display:block;
}
.careerOne p
{
  margin-top: 50px;
  font-size: 25px;
  text-shadow: 1px 1px 2px #000000;
}
.careerTwo p
{
  margin-top: 0px;
 
  font-size: 25px;
  text-shadow: 1px 1px 2px #000000;
}
.careerOne
{ 
  margin:0px;
  padding-top:150px;
  padding-right: 13%;
  background:#222121;
  justify-content:center;
  align-items:center;
 

}


.datasheet
{
 
   padding:5px;
  
   margin-top: 50px;
   margin:25px;
   text-shadow: 1px 1px #000000;
   font-family: "Roboto";
   align-items: center;
   justify-content:center;
   
   font-size: 20px;

}
#description
{
  font-size:15px;
}
.descriptionAboutMe 
{
    background:rgb(209, 72, 168);
    padding:20px;
    margin:10px;
    box-shadow: 20px 5px 4px black;
 
 
}
.descriptionAboutMe p
{
  font-size:20px;
  text-shadow: 1px 1px #000000;
  justify-content: center;
  font-family: "Poppins";
  align-items: center;
  text-align: center;

 
 
}
}
