footer{
  background:#1d1c1c;
  
}
.myFooterArea p
{
  font-family:"Poppins";
  font-size : 12px;
 
}
.myFooterArea
{
  padding:15px;
  display:flex;
  justify-content:center;
  align-items: center;
}