*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
.image-information
{
  font-size:16px;
  text-align:center;
  font-family: "Roboto";
}
.gallery-container
{
  display:grid;
  grid-template-columns: repeat(6,1fr);

}
.item-gallery #img-gallery
{
  width:100%;
  height:100%;
  object-fit: cover;
}
.item-gallery #img-gallery:hover
{
  box-shadow: none;
  border-style: solid;
  border-color: rgba(140, 14, 62, 0.8);
border-radius:0%;
}
.item-gallery .img-galleryMobile
{
  width:150px;
  height:300px;
  object-fit: cover;
}
.item-gallery .img-galleryMobile:hover
{

  box-shadow: none;

border-radius:0%;
}
.item-gallery
{
  position: relative;
}
.item-gallery .titleGallery
{
  position: absolute;
  background-color: rgba(0,0,0,0.8);
  left:0;
  bottom:0;
  width:100%;
 padding:10px;
 
}
.item-gallery .titleGalleryMobile
{
  position: absolute;
  background-color: rgba(0,0,0,0.8);
  left:0;
  bottom:0;
  width:150px;
 padding:10px;
}
@media (max-width: 700px){
  .gallery-container
{
  display:grid;
  grid-template-columns: repeat(2,1fr);
  justify-content:center;

}
  .item-gallery .titleGallery
  {
    position: absolute;
    background-color: rgba(0,0,0,0.8);
    left:0;
    top:0;
    height:5%;
    font-size: 5px;
    text-align: center;
    width:120px;
   
  }
  .item-gallery #img-gallery
{
  height:100px;
  width:120px;
}

a:hover
{
  font-size:7px;
}

 
}

 

