.button
{
  width:80px;
  height:90px;
  margin:10px;
 
  border-radius:30%;
  font-size: 60px;
  color:#ffffff;
  box-shadow: 3px 5px 6px rgb(0, 0, 0);
  text-shadow: 1px 3px 1px rgb(156, 153, 153);
  background-color:#000000;
  display:flex;
  justify-content:flex-start;
  text-align: center;
}

.pictures
{
  width:150px;
 
  padding:10px;
  
}

.myProjects
{
  background: rgb(32, 32, 32);
 
}
.myProjects h1
{
  font-size: 40px;
 
}
.myProjects p
{
  font-family:'Poppins';
  margin:10px;
 
}
.subtitle p
{
  font-size:12px;
  text-shadow: 0.3px 0.3px 1px #db3bab;
}
.buttonProjects img:hover
{
  box-shadow: 3px 5px 6px black;
border-style: solid;
border-color: rgb(165, 6, 125);
border-radius:10%;
}

.buttonProjects img:active
{


  box-shadow: 3px 5px 6px black;
  border-style: inset;
  border-color: rgb(255, 255, 255);
  border-radius:10%;
 
  
}



.ultechnologyButtons
{
  display:flex;
  justify-content:center;
  align-items: space-between;
 
}



@media (max-width: 600px){
  .button
  {
    width:50px;
    height:50px;
    margin:10px;
   
    border-radius:30%;
    font-size: 30px;
    color:#ffffff;
    box-shadow: 1px 3px 6px rgb(0, 0, 0);
    text-shadow: 1px 3px 1px rgb(156, 153, 153);
    background-color:#000000;
    display:flex;
    justify-content:flex-start;
    text-align: center;
  }
  .pictures
{
  display: block;
  width:90px;
  justify-content:center;
  align-items:center;
  margin:5px;
  padding:5px;
  
  
}
#description
{
  font-size:13px;
}



}