p
{
  font-size: 14px;

}
#projectimgPlant
{
  display:flex;
  justify-content:center;
  border-radius:15%;
  width:200px;
  height:400px;
  padding: 4px;
  margin:10px auto;


}
.submenu
{
  cursor:pointer;
}
.submenu:hover
{
    text-decoration:underline;
   
    text-shadow: none;
  
    
}
#projectimgWeb
{
  display:flex;
  justify-content:center;
  border-radius:15%;
  width:400px;
  height :250px;
  padding: 4px;
  margin:10px auto;
 

  

}

.reactBar
{

    display:flex;
    
    justify-content:center;
   
  
}
.navReact
{
  display:flex;
  background: #1c1c1d;
  height: 80px;
  width: 100%;
  justify-content:center;
  text-align:center;
  align-items:center;
  font-size:20px;
 
}
#reactList
{
  margin:5px;
  
  display:flex;
  align-items:center;
  justify-content:center;


}

#categoryList
{
  display:inline-block;
 
}

@media (max-width: 600px){

  #projectimgPlant
  {
    display:block;
  margin:5px auto;  
  width:150px;
  height:250px;
 
  }
  #projectimgWeb
  {
    display:flex;
    justify-content:center;
    border-radius:15%;
    width:50%;
    height :150px;
    padding: 4px;
    margin:10px auto;
   
  
    
  

}
h1
{
  font-size:12px;
}
}
@media (max-width: 1024px){
  #reactList
  {
    display:block;
    align-items:center;
    justify-content:center;
    
   
  }
 
}


