p
{
  font-size: 14px;

}
#projectimgPlant
{
  display:flex;
  justify-content:center;
  border-radius:40%;
  width:100px;
  height:100px;
  padding: 4px;
  margin:10px auto;
  border-style: 2px solid black;
  background-color:#ffffff;
  box-shadow: 2px 2px 2px black;
  

}


@media (max-width: 600px){

  #projectimgPlant
  {
    display:block;
  margin:5px auto;  
  }


}
@media (max-width: 1024px){
  #unityList
  {
    display:block;
    align-items:center;
    justify-content:center;
   
  }
 
}


