p
{
  font-size: 14px;

}
#projectimgPlant
{
  display:flex;
  justify-content:center;
  border-radius:20px;
  width:200px;
  height:100px;
  padding: 4px;
  margin:10px auto;
  background-color:#ffffff;

}


@media (max-width: 600px){

  #projectimgPlant
  {
    display:block;
  margin:5px auto;  
  }


}
@media (max-width: 1024px){
  #unityList
  {
    display:block;
    align-items:center;
    justify-content:center;
   
  }
 
}


