
.projectimg
{
    width:250px;
    height:200px;;
    border-radius: 100px;
   box-shadow: 2px 1px 10px rgb(0, 0, 0);
   margin:10px;
   margin-top:0px;
   border-style: solid;
  border-color: rgb(0, 0, 0);

}



.UnityProjects
{
  background:rgb(32, 32, 32);
}
.secondDivUnityProjects
{
  font-size:14px;
  //background:rgb(116, 12, 84);
  background:rgb(32, 32, 32);
 padding:10px;
  margin:0px;
  box-shadow: 7px 5px 4px black;
 
}

.gallery
{
  display:flex;
  align-items: space-between;
  justify-content: center;
  margin:15px;
  margin-top: 150px;

 

}

.titles
{
   display:inline;
   padding:10px;
   margin:10px 10px 0px 0px;
   margin-top: 50px;
   text-shadow: 1px 1px 4px rgb(0, 0, 0);
   font-family: "Roboto";
   align-items: center;
   justify-content:center;
   font-size: 40px;
   color:#f0f0f0;

}
.subtitle p
{
  font-size:12px;
 
  font-family: 'Roboto';
  text-align: center;
}
p{
  text-shadow: 1px 1px 1px #000000;
  font-family: 'Poppins';
  text-shadow: 1px 1px 3px rgb(116, 12, 84);
}

.lineTitle {
  content: "";
  background-color:rgb(182, 182, 182);
  width:100%;
  height:20%;
  padding:0px;
  float:left;
  margin:20px auto;
  
  box-shadow: 3px 5px 6px black;
  border-style: groove;
  border-color: rgb(255, 255, 255);
}


@media (max-width: 600px){
      .gallery
    {
      display:inline;
      align-items: center;
      justify-content: center;

    

    }
    .titles
    {
      font-size:20px;
      justify-content:center;
      align-items: center;
      
    }
    .secondDivUnityProjects
    {
      font-size:14px;
      background:rgb(32, 32, 32);
    padding:10px;
      margin:15px;
      box-shadow: 7px 5px 4px black;
     
    
    }
   
    .projectimg
    {
      
        width:100px;
        height:100px;;
        border-radius: 50px;
      box-shadow: 7px 5px 4px black;
      margin:5px;
      margin-top: 25px;
      

}

}
