
.projectimg
{
    width:250px;
    height:200px;
    border-radius: 80px;
   box-shadow: 7px 5px 4px black;
   margin:15px;
  


}
.UnityProjects
{
  background:rgb(0, 0, 0);
}
.secondDivUnityProjects
{
  font-size:14px;
  background:rgb(54, 54, 54);
  margin:70px;
}
.gallery
{
  display:flex;
  align-items: space-between;
  justify-content: center;
 

}