.DivUnityProjects
{
  font-size:12px;
  font-family: "Poppins";
  padding-bottom: 150px;
}
  
#unityList
{
  display:flex;
  align-items:center;
  justify-content:center;


 
}

#projectimg
{
  display:flex;
  justify-content:center;
  border-radius:20px;
  width:200px;
  height:100px;
  padding: 0px;
  margin:10px ;
  font-size:12px;
  
  box-shadow: 1px 0px 0px 2px black;

}

@media (max-width: 600px){
  #unityList
  {
    display:block;
    align-items:center;
    justify-content:center;
   
  }
  #projectimg
{
  display:block;
  margin:5px auto;  
}
p
{
  text-align:center;
}

  
}
@media (max-width: 1024px){
  #unityList
  {
    display:block;
    align-items:center;
    justify-content:center;
   
  }
 
}
